.table th,.table td {
		text-align: center;
	}

body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.ajust {
	margin-top: 60px;
}

#divListUniv {
	height: auto;
	max-height: 270px;
	overflow: auto;
}
